/* Стили для App */

.main {
    display: flex;
    justify-content: space-between;
}

.redact-wrapper {
    flex: 1 1 auto;
    background-color: #f39251;
}

/* Конец стилей */

/* Стили для TodoList */

.list {
    flex: 1 1 auto;
    margin-right: 10px;
    background-color: #f5eb5e;
}

.ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 5rem;
}


/* Конец стилей */